.uchilabel-box  {
    position: relative;
    margin: 2em 0;
    padding: 25px 10px 7px;
    border: solid 2px #FFC107;
}
.uchilabel-box-title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #FFC107;
    color: #ffffff;
    font-weight: bold;
}
.uchilabel-box p {
    margin: 0; 
    padding: 0;
}
h1{
    .kokuban-box {
        position: relative;
        margin: 2em auto;
        padding: 3.2em 1em 1em;
        width: 90%; /* ボックス幅 */
        background-color: #006633; /* ボックス背景色 */
        color: #fff; /* 文章色 */
        border: 8px solid #b2771f; /* 枠線 */
        border-radius: 3px; /* 角の丸み */
        box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
       }
       .kokuban-box::before,
       .kokuban-box::after {
        position: absolute;
        content: '';
        bottom: 0;
       } 
       .kokuban-box::before {
        right: 10px;
        border: solid 3px #fff; /*チョーク（白）*/
        width: 20px; 
        border-radius: 3px 2px 0 2px;
       }
       .kokuban-box::after {
        right: 40px;
        border: solid 3px #ffff6b; /*チョーク（黄色）*/
        width: 15px; 
        border-radius: 8px 5px 2px 5px;
       }
       .kokuban-box p {
           margin: 0; 
           padding: 0;
       }
}
h2{
    padding: 10px;
    background: #E0E0E0;
    border-left:5px solid #00B0FF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}
.uki-box {
    background-color: #fff;
    margin: 2em 0;
    padding: 2em;
    position: relative;
    z-index: 1;
}
.uki-box::before,
.uki-box::after {
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}
.uki-box::before {
    background-color: rgba(255, 255, 255, .5);
    left: 0;
    top: 0;
    z-index: -1;
}
.uki-box::after {
    background-color: #a4f5c8;
    top: 5px;
    left: 5px;
    z-index: -2;
}